{% extends 'base.html' %}

{% block content %}
<header>
  <nav class="navbar navbar-expand-lg bg-transparent navbar-dark custom-navbar sticky-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Moises.Dev</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Budgets</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="https://github.com/LinuxEater" target="_blank" >GitHub</a></li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-outline-success" href="{% url 'budget' %}" >HIRE ME</a>
      </div>
    </div>
  </nav>
</header>

<section class="project-detail">
  <h1 class="project-title">{{ project.title }}</h1>

  <div class="project-media">
    <img src="{{ project.image.url }}" alt="" class="project-image" />

    {% if project.video %}
      <video class="project-video" controls>
        <source src="{{ project.video.url }}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    {% endif %}
  </div>

  <p class="project-description">{{ project.description }}</p>

  <h3>Technologies Used:</h3>
  <ul class="tech-list">
    {% for tech in technologies_list %}
      <li class="tech-badge">{{ tech|cut:" " }}</li>
    {% endfor %}
</ul>

  <p><strong>Project Date:</strong> {{ project.date|date:"F j, Y" }}</p>

  <p><a href="{{ project.url }}" target="_blank" class="project-link">Visit Project</a></p>
</section>

{% endblock %}


